input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
::ng-deep .validation-control .mat-form-field-underline::before {
  background: red;
  height: 3px;
}
.steelblue {
  background: rgb(168, 216, 255);
}

.route-alternative-dates button:focus {
  box-shadow: none;
  background-color: white;
}
.route-alternative-dates button:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
.date-update-before::before {
  content: '';
  position: absolute;
  top: 0;
  left: -11%;
  border: 19px solid transparent;
  border-left-color: #f8f9fa;
  transform: rotate(180deg);
}

.date-update-after::after {
  content: '';
  position: absolute;
  top: -0.8px;
  left: 90%;
  border: 19.8px solid transparent;
  border-left-color: #f8f9fa;
}
.logo {
  width: 40px;
  height: 30px
}
.logo-text {
  font-size: 18px;
}
.dictionary-trips {
  padding: 5px;
}
.dictionary {
  margin-left: 0;
  margin-right: 0;
}
.select-dictionary {
  padding-top: 5px;
}
.select-dictionary-plus-icon {
  font-size: 30px;
}
.select-dictionary-check-icon {
  font-size: 30px;
  color: green;
}
.trip-keyboard-arrow {
  vertical-align: middle;
}
.material-car {
  position: relative;
  top: 2px;
  left: 7px
}
.material-car-circle {
  position: relative;
  top: -3px;
  left: -3px;
}
.material-person {
  vertical-align: text-bottom;
}
.cancel-icon {
  color: red;
  position: absolute;
  left: 15px;
  top: 1px;
  z-index: 1;
  font-size: 1.5rem;
}

.grip-line {
  margin-left: 0.5rem;
  vertical-align: text-top;
}
.thump {
  margin-left: 1rem;
  vertical-align: top;
}
.trip-major {
  margin-right: 0;
  margin-left: 0;
  padding-top: 8px;
  /* padding-bottom: 6px; */
}
.trip-major-destination {
  font-size: 20px;
  margin-bottom: 10px;
}
.exact-date {
  font-size: 20px;
}
.toggle-icon-div button {
  padding: 0;
}
.toggle-icon-div button {
  padding: initial;
  border: none;
}
.toggle-icon {
  font-size: 40px;
  color: white;
}
.vehicle-add, .vehicle-minus {
  padding: 4px;
}
.car-buttons {
  padding: 4px;
}


